/* For demo */
.ant-carousel .slick-slide {
    text-align: center;
    height: 500px;
    overflow: hidden;
    line-height: 500px;
    background: #F5EEF8;
    overflow: hidden;
    width:500px;
    /* padding-top: 30px;
    padding-left:240px; */
    padding: 30px 150px 0px;
    
  }
  /* .ant-carousel .slick-slide h3 {
    color: #fff;
  } */
  .ant-carousel .slick-slide img {
      border:1px solid black;
      color: #fff;
  width: 100%;
  left: 100%;
  top: 100%;
  /* padding-left:300px; */
  
  min-height: 40%; 
  
 }
  