*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
  .sidebar {
    z-index: 1;
    position: fixed;
    left: -250px;
    width: 250px;
    height: auto;
    /* background: #042331; */
    background: #F5EEF8;
    transition: all .5s ease;
    /* border:1px solid blueviolet; */
    
  }
  .sidebar header {
    font-size: 22px;
    color: black;
    line-height: 40px;
    text-align: center;
    /* background: #063146; */
    background: #F5EEF8;
    user-select: none;
    border-bottom: 1px solid#B2BABB  ;
    border-radius :5px;
 
  }
  .sidebar ul {
    margin-bottom: 0px;
  }
  .sidebar ul a{
    display: block;
    height: 70%;
    width: 100%;
    line-height: 50px;
    font-size: 20px;
    color: black;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid#B2BABB  ;
    border-radius:5px;
    transition: .4s;
  }
  ul li:hover a{
    padding-left: 50px;
  }
  .sidebar ul a i{
    margin-right: 16px;
  }
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: absolute;
    /* background: #042331; */
    border-radius: 3px;
    cursor: pointer;
  }
  label #btn{
    left: 20px;
    top: 12px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
  }
  label #cancel{
    z-index: 1111;
    left: -270px;
    top: 80px;
    font-size: 18px;
    color: #32325d;
    padding: 4px 9px;
    transition: all .5s ease;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel{
    left: 220px;
  }
  #check:checked ~ section{
    margin-left: 250px;
  }
  